{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="POST" novalidate>
    <label>Username:</label><br>
    <input type="text" name="username" placeholder="Enter username"><br>
    <label>Password:</label><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="submit" value="Login">
</form>

<hr>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li class="error">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}




